.menu {
  $mobile-menu-height: 35px;
  $tablet-menu-height: 45px;

  position:relative;
  width: 100%;
  height: $mobile-menu-height + 8;
  top: 0;
  left: 0;
  overflow: hidden;
  font-size: 0;
  z-index: 100;

  @media #{$tablet} {
    height: $tablet-menu-height + 8;
  }

  .inner {
    position:relative;
    width: 100%;
    white-space: nowrap;
    font-family: "Guardian Text Egyptian Web", Georgia, serif;
    font-weight: 500;
    height: $mobile-menu-height + 18px;

    @media #{$tablet} {
      height: $tablet-menu-height + 18px;
    }

    overflow-y: hidden;
    overflow-x: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;

    .item {
      top: 0;
      text-align: center;
      position: relative;
      height: $mobile-menu-height;
      line-height: $mobile-menu-height + 4px;
      display: inline-block;
      font-size: 13px;
      min-width: 60px;
      padding: 0 18px;
      cursor: pointer;

      @media #{$tablet} {
        height: $tablet-menu-height;
        line-height: $tablet-menu-height + 4px;
        font-size: 15px;
      }

      .underline {
        opacity: 0;
        font-size: 0;
        content: ' ';
        height: 2px;
        width: 100%;
        padding: 0 18px;
        position: relative;
        left: -18px;
        display: block;
        transition-duration: .66s;
        transition-property: opacity;
      }


      &.active {
        .underline {
          opacity: 1;
        }
      }
    }
  }

}