// Colors


// Structure
$header-height: 160px;
$footer-height: 120px;
$max-width: 1280px;

$tileSize: 200px;
$landmarkSize: 320px;

// Paths
$img-path: '/images/';
$fonts-path: '/fonts/';

// Page margins
$page-margin-x: 20px;
$page-margin-y: 20px;
$margin-x: 10%;
$margin-y: 10%;

// Responsive
$tabletMinHeight: 420px;
$tabletMinWidth: 680px;
$desktopMinWidth: 940px;
$iphone4MaxSize: 480px;
