@import 'vars';
@import 'fonts';

$guss-webfonts-base-url: 'https://pasteup.guim.co.uk/fonts/';

/**
  * Use pasteup for deployed app. Use local folder, for local: '/bower_components/guss-webfonts/webfonts'
  */
//match: /\/\/pasteup\.guim\.co\.uk\/fonts\/0\.1\.0/g,
//replacement: '/bower_components/guss-webfonts/webfonts'

@import '../vendor/pasteup-palette/src/_palette.scss';
@import '../vendor/guss-webfonts/src/_webfonts.scss';
@import '../vendor/guss-typography/_typography.scss';

@include guss-webfonts('Guardian Text Sans Web');
@include guss-webfonts('Guardian Text Egyptian Web');
@include guss-typography-defaults;

.element-interactive {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.js-on.is-modern .content--interactive .element-interactive {
  background: none;
}

#nespresso-interactive {
  * {
    // user-select: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
  font-family: 'Guardian Text Sans Web', sans-serif;
  color: white;
  background-attachment: fixed;

  a,
  a:active,
  a:focus,
  button,
  button:focus,
  button:active {
    outline: none;
  }

  input::-moz-focus-inner {
    border: 0;
  }

  @import 'normalize';
  @import 'helpers';
  @import 'responsive/devices';


  // App

  &.desktop-version {
    @import 'app/inner';
    @import 'app/loader';
    @import 'app/scene';
    @import 'app/header';
    @import 'app/footer';
    @import 'app/menu';
    @import 'app/bg';
  }

  &.mobile-version {
    @import 'vendor/swiper';
    @import 'app/mobile/app';
  }



}

