&.chapter-scene {
  //border-bottom: 1px dotted white;
  //position: relative;
  //height: 150%;

  .images-wrapper {
    top: 50%;
    left: 50%;

    .tile {
      z-index: 10;
    }

    .landmark {
      z-index: 5;
    }
  }

}