&.end-scene {
  //position:relative;
  //height: 500%;

  #tile-1986end {
    position: absolute;
    opacity: 0;
    z-index: 100;

    .img {
      display: block;
    }
  }

  .link {
    position: absolute;
    z-index: 101;
    cursor: pointer;
    display: block;
    font-family: 'angelinaregular', Helvetica, Arial, sans-serif;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
    color: white;
    text-align: center;
    text-decoration: none;
    top: 48%;
    left: 50%;
    font-size: 26px;
    line-height: 30px;

    @media #{$tablet-and-above} {
      font-size: 31px;
      line-height: 35px;
    }

    @media #{$above-tablet} {
      font-size: 36px;
      line-height: 40px;
    }

    > img {
      width: 32px;
      height: 32px;
      display: block;
      margin: 5px auto 0;


      @media #{$tablet-and-above} {
        width: 35px;
        height: 35px;
        margin: 10px auto 0;
      }

      @media #{$above-tablet} {
        width: 39px;
        height: 39px;
        margin: 15px auto 0;
      }
    }
  }

  .composition {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    .NespressoCup_01_Right {
      top: 12%;
      left: 5%;
      width: 18%;

      @media #{$tablet-and-above} {
        width: 21%;
      }

      @media #{$above-tablet} {
        width: 23%;
      }
    }

    .Biscuits_01 {
      top: 50%;
      left: 5%;
      width: 30%;

      @media #{$tablet-and-above} {
        top: 46%;
        width: 33%;
      }

      @media #{$above-tablet} {
        top: 38%;
        width: 36%;
      }
    }

    .NespressoCup_01_Left {
      top: 65%;
      right: 5%;
      width: 18%;

      @media #{$tablet-and-above} {
        width: 21%;
      }

      @media #{$above-tablet} {
        width: 23%;
      }
    }

    .Biscuits_02_Single {
      top: 40%;
      right: 12%;
      width: 10%;

      @media #{$tablet-and-above} {
        width: 10%;
      }

      @media #{$above-tablet} {
        width: 11%;
      }
    }

  }

}