&.intro-scene {
  border-bottom: 1px dotted white;

  .logo-app {
    max-width: 40%;
    display: block;
    padding-bottom: 60px;
    margin: 0 auto;
  }

  .tiles {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 0;
    height: 0;
    overflow: visible;

    .tile {
      $tileSize: 200px;
      position: absolute;
      //top: 20%;
      //left: 8%;
      width: $tileSize;
      left: -$tileSize*0.5;
      top: -$tileSize*0.5;
      box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
      z-index: 1;

      img {
        display: block;
      }

      .img {
        position: relative;
        width: 100%;
      }

      .shadow {

      }
    }
  }

  .right-cup {
    top: 25%;
    right: 8%;
    width: 19%;

    .NespressoCup_01_Right {
      width: 100%;
    }

    .Beans01 {
      width: 100%;
      top: 55%;
      right: 30%;
    }
  }

  img {
    display: block;

    &.scroll-icon {
      bottom: 3%;
      left: 50%;
      transform: translateX(-50%);
      width: 25px;
      cursor: pointer;
      padding: 20px;
    }

    &.BiscuitsOnPlate_01 {
      top: 0;
      left: 50%;
      width: 20%;
    }

    &.NespressoCup_01_Left {
      width: 19%;
    }

    &.NespressoCup_01_Left {
      top: 50%;
      left: 8%;
    }

  }

}