&.intro-scene {

  .body {

    .intro-block {
      position: absolute;
      width: 100%;
      top: 50%;
      transform: translate3d(0, -50%, 0);
      font-size: 17px;

      .logo-app {
        width: 68%;
        max-width: 320px;
        display: block;
        padding-bottom: 40px;
        margin: 0 auto;
      }

      .intro-text {
        position: relative;

        //.inner-1 {
        //
        //}
        //.inner-2 {
        //  position: absolute;
        //  top: 0;
        //  left: 0;
        //  opacity: 0;
        //}
      }
    }
  }

  .landmark {
    opacity: 0;
  }

  .right-cup {
    top: 25%;
    width: 23%;
    right: 8%;

    @media #{$tablet-and-above} {
      right: 4%;
    }

    @media #{$above-tablet} {
      right: 0;
    }

    .NespressoCup_01_Right {
      width: 100%;
    }

    .Beans01 {
      width: 100%;
      top: 55%;
      right: 30%;
    }
  }

  img {
    display: block;

    &.BiscuitsOnPlate_01 {
      top: 0;
      left: 50%;
      width: 27%;
    }

    &.NespressoCup_01_Left {
      width: 23%;
      top: 14%;
      left: 8%;

      @media #{$tablet-and-above} {
        left: 4%;
      }

      @media #{$above-tablet} {
        left: 2%;
      }
    }

  }

}