.menu {

  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  overflow: visible;

  .inner {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

    .item {
      user-select: none;
      position: relative;
      color: white;
      white-space: nowrap;
      transition-duration: .33s;
      transition-property: transform;
      cursor: pointer;
      transform: translateX(70%);
      padding: 3px 0 3px 30%;
      margin-bottom: 8px;
      font-size: 13px;
      line-height: 13px;
      width: 50px;
      box-sizing: border-box;

      @media #{$tablet-and-above} {
        transform: translateX(80%);
        padding: 5px 0 5px 20%;
        font-size: 14px;
        line-height: 14px;
        width: 60px;
      }

      @media #{$above-tablet} {
        transform: translateX(80%);
        padding: 7px 0 7px 20%;
        font-size: 15px;
        line-height: 15px;
        width: 70px;
      }

      .year {
        display: block;
        font-family: "Guardian Text Egyptian Web", Georgia, serif;
        font-weight: 500;
      }

      &.active,
      &:hover {
        transform: translateX(0%);
      }
    }
  }

}