.menu {
  position: fixed;
  //position: absolute;
  top: 0;
  right: 0;
  height: 100% !important;
  overflow: visible;
  z-index: 1001;
  opacity: 0;

  .inner {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

    .item {
      user-select: none;
      position: relative;
      color: white;
      white-space: nowrap;
      transition-duration: .33s;
      transition-property: transform;
      cursor: pointer;
      box-sizing: border-box;
      margin-left: 0 !important;
      margin-right: 0 !important;
      padding: 2px 0 2px 20px;
      width: 60px;
      margin-bottom: 6px;
      font-size: 12px;
      line-height: 12px;

      backface-visibility: hidden;
      transform: translateX(40px);
      transform: translate3d(40px,0,0);

      @media #{$tablet-and-above} {
        transform: translateX(40px);
        padding: 5px 0 5px 30px;
        font-size: 14px;
        line-height: 14px;
        width: 70px;
        margin-bottom: 7px;
      }

      @media #{$above-tablet} {
        transform: translateX(50px);
        transform: translate3d(50px,0,0);
        padding: 7px 0 7px 30px;
        font-size: 15px;
        line-height: 15px;
        width: 80px;
        margin-bottom: 8px;
      }

      .year {
        display: block;
        font-family: "Guardian Text Egyptian Web", Georgia, serif;
        font-weight: 500;
      }

      &.active,
      &:hover {
        transform: translateX(0%);
      }
    }
  }

}