.scene {
  position: relative;
  height: 50px;

  @import "scenes/intro";
  @import "scenes/chapter";
  @import "scenes/end";

  .inner {
    width: 100%;
    height: 100%;
  }

  .pin {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .images-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;

    .tile {
      position: absolute;
      width: $tileSize;
      left: -$tileSize * 0.5;
      top: -$tileSize * 0.5;
      box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
      z-index: 1;

      img {
        display: block;
      }

      .img {
        position: relative;
        width: 100%;
      }

      .shadow {

      }
    }
  }

  .landmark {
    position: absolute;
    width: $landmarkSize;
    max-width: 30%;
    left: 50%;
    top: 50%;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    z-index: 1;

    img {
      display: block;
    }

    .img {
      position: relative;
      width: 100%;
      //left: -$landmarkSize * 0.5;
      //top: -$landmarkSize * 0.5;
    }

    .shadow {

    }
  }

  .body {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    height: $tileSize * 2.5;
    width: 40%;
    max-width: 420px;

    .title {
      width: 100%;
      font-size: 36px;
      line-height: 40px;
      top: 0;
      font-family: 'angelinaregular', Helvetica, Arial, sans-serif;
      text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
    }

    .text {
      width: 100%;
      font-size: 15px;
      line-height: 22px;
      bottom: -$page-margin-y;
      opacity: 0;

      .blast {
        opacity: 0;
      }
    }
  }

}