.scene {
  position: relative;
  height: 50px;

  @import "scenes/intro";
  @import "scenes/chapter";
  @import "scenes/end";

  .inner {
    width: 100%;
    height: 100%;
  }

  .pin {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .images-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;

    .tile {
      position: absolute;
      width: $tileSize;
      height: $tileSize;
      left: -$tileSize * 0.5;
      top: -$tileSize * 0.5;
      z-index: 1;

      img {
        display: block;
      }

      .img {
        position: relative;
        width: 100%;
      }
    }
  }

  .landmark {
    position: absolute;
    //width: $landmarkSize;
    left: 50%;
    top: 50%;
    z-index: 1;

    img {
      display: block;
    }

    .img {
      position: relative;
      width: 100%;
    }
  }


  .shadow {
    $shadow-color: rgba(0,0,0,1);

    &:before {
      z-index: -1;
      position: absolute;
      content: "";
      bottom: 15px;
      width: 50%;
      //top: 90%;
      height: 20px;
      max-width: 300px;
      background: $shadow-color;
      box-shadow: 0 15px 10px $shadow-color;
      left: 5px;
      transform: rotate(-4deg);
    }

    &:after {
      z-index: -1;
      position: absolute;
      content: "";
      bottom: 15px;
      width: 50%;
      //top: 90%;
      height: 20px;
      max-width: 300px;
      background: $shadow-color;
      box-shadow: 0 15px 10px $shadow-color;
      right: 5px;
      transform: rotate(4deg);
    }
  }


  .body {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    height: $tileSize * 2.5;
    width: 40%;
    max-width: 420px;

    .title {
      width: 100%;
      font-size: 36px;
      line-height: 40px;
      top: 0;
      font-family: 'angelinaregular', Helvetica, Arial, sans-serif;
      text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
    }

    .text {
      width: 100%;
      font-size: 14px;
      line-height: 20px;
      bottom: -$page-margin-y;
      opacity: 0;

      .blast {
        opacity: 0;
      }
    }
  }

}