.scene {
  position: relative;
  width: 100%;
  height: 100%; // 50px;
  min-height: 100%;
  top: 0;
  left: 0;

  @import "scenes/intro";
  @import "scenes/chapter";
  @import "scenes/end";

  .inner {
    width: 100%;
    height: 100%;
  }

  .pin {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .tiles {
    position: absolute;
    top: 50%;
    left: 50%;
    width: $tileSizeSmall;
    height: $tileSizeSmall;

    @media #{$tablet-and-above} {
      width: $tileSizeMedium;
      height: $tileSizeMedium;
    }

    @media #{$above-tablet} {
      width: $tileSizeLarge;
      height: $tileSizeLarge;
    }

    overflow: visible;

    &.dark-shadows {
      .tile {
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.4);
      }
    }
  }

  .images-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;

    .tile {
      position: absolute;
      width: $tileSizeSmall;
      height: $tileSizeSmall;
      left: -$tileSizeSmall * 0.5;
      top: -$tileSizeSmall * 0.5;

      @media #{$tablet-and-above} {
        width: $tileSizeMedium;
        height: $tileSizeMedium;
        left: -$tileSizeMedium * 0.5;
        top: -$tileSizeMedium * 0.5;
      }

      @media #{$above-tablet} {
        width: $tileSizeLarge;
        height: $tileSizeLarge;
        left: -$tileSizeLarge * 0.5;
        top: -$tileSizeLarge * 0.5;
      }

      z-index: 1;

      img {
        display: block;
      }

      .img {
        position: relative;
        width: 100%;
      }
    }
  }

  .landmark {
    position: absolute;
    // size is calculated in javascript, based on the real image size
    left: 50%;
    top: 50%;
    z-index: 1;

    img {
      display: block;
    }

    .img {
      position: relative;
      width: 100%;
      z-index: 1;
      overflow: visible;
    }
  }

  .shadow {
    $shadow-color: rgba(0,0,0,1);

    &:before {
      z-index: -1;
      position: absolute;
      content: " ";
      bottom: 15px;
      width: 50%;
      //top: 90%;
      height: 20px;
      max-width: 300px;
      background: $shadow-color;
      box-shadow: 0 15px 10px $shadow-color;
      left: 5px;
      transform: rotate(-4deg);
    }

    &:after {
      z-index: -1;
      position: absolute;
      content: " ";
      bottom: 15px;
      width: 50%;
      //top: 90%;
      height: 20px;
      max-width: 300px;
      background: $shadow-color;
      box-shadow: 0 15px 10px $shadow-color;
      right: 5px;
      transform: rotate(4deg);
    }
  }


  .body {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    width: 40%;
    max-width: 380px;

    @media #{$tablet-and-above} {
      max-width: 450px;
    }

    @media #{$above-tablet} {
      max-width: 520px;
    }

    .title {
      width: 100%;
      font-size: 36px;
      line-height: 40px;
      top: -$page-margin-y;
      font-family: 'angelinaregular', Helvetica, Arial, sans-serif;
      text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
    }

    .text {
      width: 100%;
      bottom: -$page-margin-y;
      opacity: 0;
      font-size: 13px;
      line-height: 18px;

      //@media #{$tablet-and-above} {
      //  font-size: 14px;
      //  line-height: 20px;
      //}

      @media #{$above-tablet} {
        font-size: 14px;
        line-height: 20px;
      }

      .blast {
        opacity: 0;
      }
    }
  }

}