<!--<div class="spin">-->

    <!--Loading...-->

<!--</div>-->

<div class="progress-wrapper">
    <div class="progress"></div>
</div>

<div class="hidden-images">

    {{#each imagesToPreload}}
        <img src="{{../imgPath}}{{this}}">
    {{/each}}

</div>