<div class="nespresso-header">
    <div class="nespresso-logo">
        <div class="copy">Paid for by</div>
        <img class="img" src="images/logo-nespresso.png">
    </div>
</div>

<div id="{{id}}-loader" class="loader"></div>

<div class="inner">

    <div id="{{id}}-app" class="app"></div>

    <div id="{{id}}-ga" class="ga"></div>

</div>